@model IEnumerable<Employee>

<h1>EMPLOYEE MANAGER</h1>

<form class="" method="get" asp-action="Filter">
    <div class="row">
        <div class="col-10">
            <input class="form-control" placeholder="Type to search for employees..." name="employeeName">
        </div>

        <div class="col-2">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>

    </div>
</form>

<div class="mt-2 mb-2">
    <form>
        <button asp-controller="Employee" asp-action="Create" class="btn btn-success float-right">Create Employee</button>
    </form>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => emp.Name)
                </td>
                <td>
                    @emp.DOB.ToString("yyyy-MM-dd")
                </td>
                <td>
                    <form>
                        <button asp-controller="Employee" asp-action="Edit" asp-route-id="@emp.Id" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i>Edit
                        </button>
                        <button asp-controller="Employee" asp-action="Delete" asp-route-id="@emp.Id" class="btn btn-danger">
                            <i class="bi bi-trash3-fill"></i>Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
